---
import config from "../../config.mjs";
import { Image } from "astro:assets";
import SocialIcon from "./SocialIcon.astro";

import igpng from "../../assets/igpng.png";
import youtube from "../../assets/youtubepng.png";
---

<div class="w-full h-[1px] overflow-hidden gradient-line"></div>
<div
  class="py-14 transition-all duration-300 bg-gradient-to-r from-pacamara-secondary/10 to-pacamara-accent/10 dark:bg-gradient-to-r dark:from-pacamara-accent/[2%] dark:to-pacamara-secondary/[5%]"
>
  <footer
    class="container mx-auto max-w-screen-xl flex flex-initial lg:flex-row flex-col gap-10 items-center px-7"
  >
    <div class="logo flex-none">
      <a
        href="/"
        class="font-bold font-pacamara-space text-lg hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent"
        >Hari Batik Nasional 2024</a
      >
    </div>

    <ul
      class="list-none text-[14px] font-normal flex flex-initial flex-row content-center items-center gap-x-[35px]"
    >
      <li>
        <a
          href="https://youtu.be/-fXjG5mLMZE?si=PQjV0PQYmWtvrjRm"
          target="_blank"
        >
          <Image
            src={youtube}
            width={200}
            alt=""
            loading="eager"
            decoding="sync"
            class="relative w-[30px] lg:w-[40px] rounded-[15px] image-shine"
          />
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/ppbi_sekarjagad/" target="_blank">
          <Image
            src={igpng}
            width={200}
            alt=""
            loading="eager"
            decoding="sync"
            class="relative w-[30px] lg:w-[40px] rounded-[15px] image-shine"
          />
        </a>
      </li>
    </ul>
    <div class="grow lg:text-right">
      <span
        class="text-[14px] text-pacamara-dark/40 transition-all duration-300 dark:text-pacamara-white/40"
      >
        <!-- made with <span class="text-pacamara-accent">&hearts;</span> by <a href="https://maciekpalmowski.dev/" target="_blank" class="transition-all duration-300 text-pacamara-dark/60 dark:text-pacamara-white/60 hover:text-pacamara-accent">Maciek Palmowski</a> and <a href="https://kinsta.com" class="transition-all duration-300 text-pacamara-dark/60 dark:text-pacamara-white/60 hover:text-pacamara-accent">Kinsta</a> -->
      </span>
    </div>
  </footer>
</div>
